!!!
html
  head
    title= title
    style
      body {
        color: white;
        background: black;
        font-size: 16px;
      }

      a {
        text-decoration: none;
      }

      a:hover {
        color: red;
      }

      .back {
        color: white;
        font-size: 18px;
      }

      .dir {
        color: wheat;
      }

      .file {
        color: grey;
      }

      .file-size {
        color: green;
        display: inline-block;
        width: 100px;
        text-align: right;
        padding-right: 5px;
      }
  body!= body
