!!!
html
  head
    title= title
    style
      .dir {
        color: wheat;
      }
      .file-size {
        display: inline-block;
        width: 100px;
        text-align: right;
        padding-right: 5px;
      }
  body!= body
